{% extends 'base.html' %}

{% block content %}

{% if selected_category %}
<div class="w-100 mono p-1 m-1">
    {% set category = valid_categories.get(selected_category, {'name': selected_category, 'color': '#000'}) %}
    <span style="color: {{ category.color }};"><b>{{ category.name }}</b></span>
    <a href="/" class="text-decoration-none text-dark w-100">{{ render_icon('x-square', 12) }}</a>
</div>
{% else %}
<div class="w-100 mono p-1 m-1">
    <span style="color: #000;"><b>Toutes les catégories</b></span>
</div>
{% endif %}


{% if prompt and data|length == 0 or data == [] %}
<center>
    <div class="mono m-1 p-3">Oups! La base de donnée est<br />actuellement vide.
        <br /><br />
        <img src="/static/empty.png">
    </div>
</center>
{% endif %}

{% include 'articles-loop.html' %}

{% endblock %}