{% extends 'base.html' %}

{% block content %}
<div class="w-100 mono p-1 m-1">
      <span style="color: #000;"><b>Actuellement à la une</b></span>
</div>

{% for article in data %}
<a href="{{ article.link }}" class="text-decoration-none text-dark w-100" target="_blank">
  <li class="list-group-item d-flex justify-content-between align-items-start p-1 gap-1">
      <div class="ms-2 me-auto">
        <div class="fw-bold mono"><div class="d-inline-block btn-{{ article.categorie }}" style="width: 12px; height: 12px;"></div>
          {{ article.title }}
        </div>
        <div>{{ article.description }}</div>
        <div class="mono"><small><u>Source:</u> {{ article.source }}</small></div>
      </div>
      <span class="badge bg-secondary badge-custom-font d-none d-md-inline">{{ article.pubDate }}</span>
  </li>
</a>
{% endfor %}

{% endblock %}